body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #0011ff, #ffffff);
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.auth-container, .dashboard {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 320px;
  animation: fadeIn 0.6s ease-in-out;
}

button {
  background: linear-gradient(to right, #002F6C, #0056B3);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

input {
  display: block;
  width: 100%;
  margin: 9px 0;
  padding: 9px;
  border-radius: 9px;
  border: 1px solid #ccc;
}

button:hover {
  background: linear-gradient(to right, #001f47, #003c7c);
}